body {
  background-color: #f2f2f2;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#ticket-post-wrapper {
  border: solid 1px black;
  width: 30em;
  margin: auto;
  position: relative;
  top: 6vw;
  text-align: center;
  background-color: #e0e0e0;
}

#view-ticket {
  width: 40%;
  border: 1px black solid;
  margin: auto;
};

a {
  text-decoration: none;
}

#ticket-post-wrapper a {
  display: block;
  margin: 2em;
  text-decoration: none;
}

#ticket-post-wrapper a:hover {
  color: lightblue;
}

#sign_up {
  border: 1px lightblue solid;
  width: 20em;
  margin: auto;
  text-align: center;
  padding: 1em;
}

#sign_up input {
  margin-top: 1em;
  border-radius: 4px;
}


h1, h3 {
  margin: auto;
  text-align: center;
  margin-bottom: 1em;
  margin-top:  1em;
}

#login-logout {
  margin: auto;
  width: 16em;
  text-align: center;
}

#login-logout button {
  margin: 8px;
}

#login_form {
  border: 1px lightblue solid;
  width: 20em;
  margin: auto;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}


#login_form input {
  margin-top: 1em;
  border-radius: 4px;
}

#new-ticket-form {
  width: 30%;
  margin: auto;
  border: 1px black solid;
  padding: 1em;
};

#new-ticket-form input {
  display: inline-block;
  padding: 6px;
};

#new-ticket {
  width: 40%;
  border: solid 1px black;
};


