<h1>Please enter your info</h1>
<a href="/">Home</a>

<h3>Already have an account? <a href="/users/login">Sign in</a></h3>

<form method="post" action="/users" id="sign_up">
  <input type="text" placeholder="enter email" name="new_user[email]">
  <input type="text" placeholder="enter username" name="new_user[username]">
  <input type="password" placeholder="password" name="new_user[password]"><br>
  <input type="submit" value="Submit" id="create_account_btn">
</form>
