<h1>Hello, <%= @user.username %> welcome to tixzoo!</h1>

<h3>Your registered email: <%= @user.email %>

<h3>Would you like to <a href="/users/<%= @user.id %>/tickets/new">post a ticket?</h3><a/>

<div id="new-ticket"></div>