<h1>Welcome to Ticket Creator</h1>


<a href="/users/signup"><button id="register_btn" type="button">Create an account</button></a>

<a href="/users/login"><button id="login_btn" type="button">Login</button></a>
